.wrapper {
    margin-top: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.title {
    font-size: 24px;
    font-weight: var(--font-medium);
    line-height: 125%;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paginationBtn {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    background-color: var(--secondary-color-1);
    color: var(--primary-color-blue);
}

.paginationBtn:hover {
    color: var(--secondary-color-4);
}

.paginationMonth {
    margin: 0 12px;
    font-size: 16px;
    line-height: 125%;
    color: var(--primary-color-blue);
}

.calendar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    position: relative;
}

@media only screen and (min-width: 768px) {
    .calendar {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 10px;
    }

    .title {
        font-size: 26px;
        line-height: 123%;
    }
}