.container {
    margin-bottom: 16px;
    width: 280px;
    background-color: var(--primary-color-background);
}

.textBar {
    font-size: 18px;
    line-height: 133%;
    color: var(--primary-color-blue);
}

.addBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    height: 36px;
    background-color: var(--primary-color-blue);
    color: var(--primary-color-white);
    font-family: var(--font-medium);
    font-size: 16px;
    line-height: 125%;
    border: none;
    box-shadow: var(--box-shadow-normal);
}

.addBtn:hover {
    box-shadow: var(--box-shadow-hover);
}

.imgBtn {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.box {
    margin-top: 16px;
}

.progressBar {
    position: relative;
    width: 256px;
    height: 8px;
    background: var(--secondary-color-5);
    border-radius: 10px;
    margin: 10px auto 4px auto;
}

.progress {
    height: 100%;
    max-width: 256px;
    background: var(--secondary-color-3);;
    border-radius: 5px;
}

.thumb {
    position: absolute;
    top: 50%;
    width: 14px;
    height: 14px;
    background-color: var(--primary-color-background);
    border: 1px solid var(--primary-color-blue);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.number {
    position: absolute;
    top: 0px;
    font-size: 16px;
    font-weight: var(--font-medium);
    line-height: 125%;
    color: var(--primary-color-blue);
    transform: translateX(+20%);
}

.progressView {
    position: relative;
}

.spanBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 256px;
    margin: 0px auto 0px auto;
}

.span {
    height: 8px;
    border: 0.5px solid var(--secondary-color-5);
}

.holderBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 6px;
    margin-top: 4px;
}

.holder {
    font-size: 12px;
    line-height: 16px;
    color: var(--primary-color-blue)
}

.holder.hidden {
    opacity: 0;
    pointer-events: none;
}

@media only screen and (min-width: 768px) {

    .container {
        margin: 0px;
        width: 356px;
    }

    .box {
        display: flex;
        margin-top: 16px;
    }

    .holderBox {
        padding-left: 10px;
    }

    .spanBox {
        width: 325px;
    }

    .btnBox {
        display: flex;
        margin-left: 12px;
        margin-bottom: 0px;
    }

    .addBtn {
        margin-top: auto;
        margin-bottom: auto;
        width: 336px;
        height: 44px;
        font-size: 18px;
        line-height: 133%;
    }

    .progressBar {
        width: 325px;
        margin-top: 16px;
    }

    .progress {
        max-width: 325px;
    }

    .number {
        transform: translateX(+50%);
    }

}

@media (min-width: 1440px) {
    .box {
        display: flex;
        justify-content: center;
        align-items:center;
        width:592px;
        height: 90px;
    }

    .spanBox {
        width: 360px;
    }

    .btnBox {
        margin-left: 23px;
    }

    .addBtn {
        margin-top: auto;
        margin-bottom: auto;
        width: 178px;
        height: 44px;
        font-size: 18px;
        line-height: 133%;
    }

    .container {
        margin: 0px;
        width: 391px;
    }

    .progressBar {
        width: 360px;
    }

    .progress {
        max-width: 360px;
    }
}