.progressWrapper {
    margin-bottom: 16px;
    width: 280px;
    background-color: #fff;
}

.textBar {
    font-size: 18px;
    line-height: 133%;
    color: var(--primary-color-blue);
}

.addBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    height: 36px;
    background-color: var(--primary-color-blue);
    color: var(--primary-color-white);
    font-family: var(--font-medium);
    font-size: 16px;
    line-height: 125%;
    border: none;
    box-shadow: 0px 4px 8px 0px #407BFF57;
}

.addBtn:hover {
    box-shadow: 0px 4px 14px 0px #407BFF8A;
}

.imgBtn {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.box {
    margin-top: 16px;
}

.progressBar {
    width: 256px;
    height: 10px;
    background: var(--secondary-color-5);
    border-radius: 10px;
    /* margin: 10px 10px 0 10px; */
    margin: 0px 10px 0px 10px;
}

.progress {
    height: 100%;
    max-width: 256px;
    background: var(--secondary-color-3);;
    border-radius: 5px;
}

.number {
    margin-top: 6px;
    font-size: 16px;
    font-weight: var(--font-medium);
    line-height: 125%;
    color: var(--primary-color-blue)
}

.progressHolder {
    display: flex;
    justify-content: space-between;
}
.spanBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.span {
    height: 6px;
    border: 0.5px solid #D7E3FF;
    /* margin-left: 0px; */
}

.holder {
    font-size: 12px;
    line-height: 16px;
    color: var(--primary-color-blue)
}
@media only screen and (min-width: 768px) {

    .progressWrapper {
        margin: 0px;
        width: 356px;
    }

    .box {
        display: flex;
        margin-top: 16px;
    }

    .btnBox {
        display: flex;
        margin-left: 12px;
        margin-bottom: 0px;
    }

    .addBtn {
        margin-top: auto;
        margin-bottom: auto;
        width: 336px;
        height: 44px;
        font-size: 18px;
        line-height: 133%;
    }

    .progressBar {
        width: 325px;
        margin: 0px 10px 0px 10px;
    }

    .progress {
        max-width: 325px;
    }

    .number {
        margin-bottom: 10px;
    }
}

@media (min-width: 1440px) {
    .box {
        display: flex;
        justify-content: center;
        align-items:center;
        width:592px;
        height: 90px;
        
    }

    .btnBox {
        margin-left: 23px;
    }

    .addBtn {
        margin-top: auto;
        margin-bottom: auto;
        width: 178px;
        height: 44px;
        font-size: 18px;
        line-height: 133%;
    }

    .progressWrapper {
        margin: 0px;
        width: 391px;
    }

    .progressBar {
        width: 360px;
        margin: 0px 10px 0px 10px;
    }

    .progress {
        max-width: 360px;
    }

}