.profileDropdown {
  position: relative;
  display: inline-block;
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.username {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.arrow {
  font-size: 18px;
  color: #407bff;
  padding: 0;
}
.arrowButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #407bff;
}
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fallbackAvatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--secondary-color-5);
  color: var(--primary-color-blue);
  font-family: var(--font-regular);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
