.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.link {
  font-size: 16px;
  font-weight: 400;
  color: #407bff;
}
.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px;
  color: #2f2f2f;
}
.link:hover {
  color: var(--secondary-color-4);
}
