.signUp {
  background-image: var(--signUp-mob-back-1x);
  background-size: cover;
  background-position: inherit;
  background-repeat: no-repeat;
  height: 100%;
  padding: 4px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottle {
  content: var(--signUp-mob-bottle-1x);
  margin-left: auto;
  margin-right: auto;
  height: 210px;
  max-width: 280px;
  margin-top: 50px;
}

@media only screen and (min-resolution: 192dpi) {
  .signUp {
    background-image: var(--signUp-mob-back-2x);
  }
  .bottle {
    content: var(--signUp-mob-bottle-2x);
  }
}

@media only screen and (min-width: 768px) {
  .signUp {
    background-image: var(--signUp-tab-back-1x);

    padding: 0 32px;
    display: block;
  }

  .bottle {
    content: var(--signUp-tab-bottle-1x);
    max-width: 734px;
    height: 548px;
    margin-left: 60px;
    margin-top: -330px;
  }

  @media only screen and (min-resolution: 192dpi) {
    .signUp {
      background-image: var(--signUp-tab-back-2x);
    }
    .bottle {
      content: var(--signUp-tab-bottle-2x);
    }
  }
}

@media (min-width: 1440px) {
  .signUp {
    height: 582px;
    margin-top: 0;
    padding-top: 40px;
    display: block;
    background-image: var(--signUp-desk-back-1x);
  }

  .bottle {
    content: var(--signUp-desk-bottle-1x);
    max-width: 916px;
    height: 680px;
    margin-top: -360px;
    margin-left: -30px;
  }

  @media only screen and (min-resolution: 192dpi) {
    .signUp {
      background-image: var(--signUp-desk-back-1x);
    }
    .bottle {
      content: var(--signUp-desk-bottle-2x);
    }
  }
}
