.signUp {
  background-image: url("/images/SignUp/mob-back-1x.png");
  background-size: cover;
  background-position: inherit;
  background-repeat: no-repeat;
  height: 100%;
  padding: 4px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottle {
  margin-left: auto;
  margin-right: auto;
  height: 210px;
  max-width: 280px;
  margin-top: 50px;
}

@media only screen and (min-resolution: 192dpi) {
  .signUp {
    background-image: url("/images/SignUp/mob-back-2x.png");
  }
  .bottle {
    content: url("/images/SignUp/mpb-bottle-2x.png");
  }
}

@media only screen and (min-width: 768px) {
  .signUp {
    background-image: url("/images/SignUp/tab-back-1x.png");

    padding: 0 32px;
    display: block;
  }

  .bottle {
    content: url("/images/SignUp/tab-bottle-1x.png");
    max-width: 734px;
    height: 548px;
    margin-left: 60px;
    margin-top: -330px;
  }

  @media only screen and (min-resolution: 192dpi) {
    .signUp {
      background-image: url("/images/SignUp/tab-back-2x.png");
    }
    .bottle {
      content: url("/images/SignUp/tab-bottle-wx.png");
    }
  }
}

@media (min-width: 1440px) {
  .signUp {
    height: 582px;
    margin-top: 0;
    padding-top: 40px;
    display: block;
    background-image: url("/images/SignUp/lap-background-1x.png");
  }

  .bottle {
    content: url("/images/SignUp/lap-bottle-1x.png");
    max-width: 916px;
    height: 680px;
    margin-top: -360px;
    margin-left: -30px;
  }

  @media only screen and (min-resolution: 192dpi) {
    .signUp {
      background-image: url("/images/SignUp/lap-background-2x.png");
    }
    .bottle {
      content: url("/images/SignUp/lap-bottle-2x.png");
    }
  }
}
