/* .header {
  width: 100%;
  display: flex;
  padding: 8px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 16px 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .header {
    padding: 12px 112px;
  }
} */
.header {
  width: 100%;
  display: flex;
  padding: 8px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 16px 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .header {
    padding: 12px 112px;
  }
}
