.signUp {
  height: 100vh;
  background-image: url("/images/SignIn/Mobile-Sign-In.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min-resolution: 192dpi) {
  .container {
    background-image: url("/images/SignIn/Mobile-Sign-In-2x.png");
  }
}

@media only screen and (min-width: 768px) {
  .signUp {
    background-image: url("/images/SignIn/Tablet-Sign-In.png");
  }
  @media only screen and (min-resolution: 192dpi) {
    .signUp {
      background-image: url("/images/SignIn/Tablet-Sign-In-x2.png");
    }
  }
}

@media (min-width: 1440px) {
  .signUp {
    height: 800px;
    background-image: url("/images/SignIn/Desc-Sign-In.png");
  }
  @media only screen and (min-resolution: 192dpi) {
    .signUp {
      background-image: url("/images/SignIn/Desc-Sign-In-x2.png");
    }
  }
}
