.waterEntry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid var(--secondary-color-5);;
}

.amount {
    margin-left: 12px;
    font-size: 18px;
    line-height: 133%;
    color: var(--primary-color-blue);
}

.time {
    font-size: 12px;
    line-height: 200%;
}

.img {
    height: 26px;
    width: 26px;
}

.editBtn {
    margin-right: 18px;
    border: none;
    background-color: inherit;
    color: #9EBBFF;
}

.deleteBtn {
    border: none;
    background-color: inherit;
    color: var(--secondary-color-2);
}

.flex {
    display: flex;
    align-items: center;
}


.amountBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
}

.box {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {

    .img {
            height: 36px;
            width: 36px;
        }

    .amountBox {
        margin-right: 16px;
    }
}