.backround-image {
  height: 840px;
  background-image: url("/public/images/MainPage/mob-1x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-resolution: 192dpi) {
  .backround-image {
    background-image: url("/public/images/MainPage/mob-2x.png");
  }
}

.main-page {
  padding: 4px 20px;
  width: 320px;
  height: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-paige-info {
  margin-bottom: 20px;
  width: 100%;
}

.main-paige-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  color: #2f2f2f;
  margin-bottom: 16px;
}

.main-paige-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  color: #2f2f2f;
  width: 246px;
  margin-bottom: 24px;
}

.main-benefits-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: #2f2f2f;
  margin-bottom: 12px;
}

.main-benefits-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.main-benefits-list li {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.25;
  color: #2f2f2f;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.try-main-button {
  font-family: "Roboto", sans-serif;
  background-color: #407bff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #fff;
  padding: 8px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 24px;
  width: 100%;
  max-width: 280px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
}

.why-drink-water {
  background-color: #ecf2ff;
  padding: 16px;
  border-radius: 10px;
  width: 100%;
  max-width: 320px;
  text-align: left;
  box-sizing: border-box;
}

.why-drink-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: #2f2f2f;
  margin-bottom: 12px;
}

.why-drink-list li {
  display: flex;
  align-items: center;
  gap: 1px;
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2f2f2f;
}

.why-drink-list li svg {
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .backround-image {
    height: 800px;
    background-image: url("/public/images/MainPage/tab-1x.png");
  }

  @media only screen and (min-resolution: 192dpi) {
    .backround-image {
      background-image: url("/public/images/MainPage/tab-2x.png");
    }
  }

  .main-page {
    width: 768px;
    height: 800px;
    align-items: flex-start;
    padding: 0 32px;
  }

  .main-paige-info {
    margin-right: 20px;
  }

  .main-paige-title {
    font-size: 36px;
    line-height: 1.17;
  }

  .main-paige-text {
    width: 404px;
    font-size: 26px;
    line-height: 1.23;
  }

  .main-benefits-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-benefits-list li {
    margin-right: 120px;
    white-space: nowrap;
  }

  .main-benefits-list li:last-child {
    margin-right: 0;
  }

  .try-main-button {
    border-radius: 10px;
    padding: 8px 30px;
    width: 100%;
    height: 36px;
    background-color: var(--primary-color-blue);
    color: var(--primary-color-white);
    font-family: var(--font-medium);
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    border: none;
    margin-bottom: 60px;
    box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
    max-width: 336px;
  }

  .why-drink-water {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 32px 24px;
    max-width: 496px;
  }

  .why-drink-list li {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .backround-image {
    height: 900px;
    background-image: url("/public/images/MainPage/desk-1x.png");
  }

  @media only screen and (min-resolution: 192dpi) {
    .backround-image {
      background-image: url("/public/images/MainPage/desk-2x.png");
    }
  }

  .main-page {
    width: 1440px;
    height: 850px;
    flex-direction: row;
    padding: 80px 216px;
  }

  .main-paige-info {
    flex: 1;
    margin-right: 81px;
  }

  .main-paige-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16667;
    color: #2f2f2f;
    margin-bottom: 20px;
  }

  .main-paige-text {
    margin-bottom: 32px;
  }

  .main-benefits-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: baseline;
    flex-wrap: nowrap;
  }

  .main-benefits-list li {
    font-size: 18px;
  }

  .try-main-button {
    border-radius: 10px;
    padding: 8px 30px;
    width: 100%;
    height: 36px;
    background-color: var(--primary-color-blue);
    color: var(--primary-color-white);
    font-family: var(--font-medium);
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    border: none;
  }

  .why-drink-water {
    max-width: 600px;
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .why-drink-title {
    font-size: 22px;
    margin-bottom: 24px;
  }

  .why-drink-list li {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.4;
  }

  .main-paige-illustration {
    flex: 0 1 30%;
    text-align: center;
  }
}
