.container {
  border-radius: 10px;
  padding: 24px 12px;
  width: 292px;
  height: 192px;
  box-shadow: 0 4px 4px 0 rgba(64, 123, 255, 0.3);
  background: var(--primary-color-white);
  position: absolute;
  bottom: 100%;
  z-index: 100;
  transition: all 0.3s ease-in;
}

.showedRight {
  right: 50%;
}

.showedLeft {
  left: 50%;
}

.currentDate {
  font-family: var(--font-regular);
  color: var(--primary-color-blue);
  font-size: 16px;
  line-height: 125%;
}

.descriptionText {
  font-family: var(--font-regular);
  color: var(--primary-color-black);
  font-size: 16px;
  line-height: 125%;
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.stateText {
  font-family: var(--font-medium);
  font-weight: 600;
  color: var(--primary-color-blue);
  font-size: 18px;
  line-height: 133%;
  margin-left: 6px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 280px;
    max-width: 100%;
  }
  .showedRight {
    left: 0;
  }

  .showedLeft {
    left: 0;
  }
}
