.signIn {
  height: 680px;
  background-image: url("/images/SignIn/Mobile-Sign-In.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4px 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-resolution: 192dpi) {
  .signIn {
    background-image: url("/images/SignIn/Mobile-Sign-In-x2.png");
  }
}

@media only screen and (min-width: 768px) {
  .signIn {
    background-image: url("/images/SignIn/Tablet-Sign-In.png");
    /* padding-top: 40px; */
    padding: 0 32px;
    display: block;
  }

  @media only screen and (min-resolution: 192dpi) {
    .signIn {
      background-image: url("/images/SignIn/Tablet-Sign-In-x2.png");
    }
  }
}

@media (min-width: 1440px) {
  .signIn {
    height: 800px;
    margin-top: 0;
    background-image: url("/images/SignIn/Desc-Sign-In.png");
    padding-top: 40px;
    display: block;
  }

  @media only screen and (min-resolution: 192dpi) {
    .signIn {
      background-image: url("/images/SignIn/Desc-Sign-In-x2.png");
    }
  }
}
