.signIn {
  height: 680px;
  background-image: var(--signIn-mob-back-1x),
    var(--signIn-mob-bottle-1x);
  background-size: cover, auto;
  background-position: center, center 360px;
  background-repeat: no-repeat, no-repeat;
  padding: 4px 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .signIn {
    background-image: var(--signIn-tab-bottle-1x),
      var(--signIn-tab-back-1x);
    background-size: 736px 548px, cover;
    background-position: 140px 10px, center;
    background-repeat: no-repeat, no-repeat;
    padding: 0 32px;
    display: block;
  }

  @media only screen and (min-resolution: 192dpi) {
    .signIn {
      background-image: var(--signIn-tab-bottle-2x),
          var(--signIn-tab-back-2x);
    }
  }
}

@media (min-width: 1440px) {
  .signIn {
    height: 800px;
    margin-top: 0;
    background-image: var(--signIn-desk-bottle-1x),
        var(--signIn-desk-back-1x);
    background-size: 916px 680px, cover;
    background-position: 10px 50px, center;
    background-repeat: no-repeat, no-repeat;
    padding-top: 40px;
    display: block;
  }

  @media only screen and (min-resolution: 192dpi) {
    .signIn {
      background-image: var(--signIn-desk-bottle-2x),
          var(--signIn-desk-back-2x);
    }
  }
}
