.title {
  text-align: center;
  font-family: var(--font-bold);
  color: var(-primary-color-black);
  font-size: 30px;
}

.container {
  padding: 200px 25px 155px;
}

a {
  color: var(--primary-color-white);
}

.btn {
  border-radius: 10px;
  padding: 14px 19px;
  font-family: var(--font-medium);
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  background-color: var(--primary-color-blue);
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 320px 50px 225px;
  }

  .title {
    font-size: 32px;
  }
  .btn {
    padding: 18px 40px;
    font-size: 16px;
    line-height: 150%;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    padding: 300px 50px 140px;
  }
  .title {
    font-size: 36px;
  }
}
